<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/dist/sweetalert.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
  <script src="dist/sweetalert.min.js"></script>
  <script src="/javascripts/module.js"></script>
  <script src="/javascripts/controllers.js"></script>
  <script src="/javascripts/services.js"></script>
  <script>
    $(document).ready(function() {
      $(".button-collapse").sideNav();
    });
  </script>
</head>

<body ng-app='reservationApp' ng-controller='reservationCtrl'>
  <nav>
    <div class="nav-wrapper">
      <a ui-sref="home" class="brand-logo">Reservations Galore</a>
      <ul class="right">
        <li><a ui-sref='all'>All Reservations</a></li>
      </ul class="left">
      <ul>
        <li><a ui-sref='home'>Today's Reservations</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <table>
      <thead>
        <th>
          <button class="waves-effect waves-light btn" ng-click='addReservation()'>ADD</button>
        </th>
        <th>
          <h5>ADD NEW RESERVATION:</h5>
        </th>
      </thead>
      <tbody>
        <tr>
          <td width="5%">
            <input ng-model='newReservation.date' type="datetime-local" value="{{today}}" />
          </td>
          <td width="90%">
            <input ng-model='newReservation.name' type="text" placeholder="Name">
          </td>
        </tr>
        <tr>
          <td>
            <input ng-model='newReservation.size' type="number" placeholder="Party Size">
          </td>
          <td class="col s5">
            <input ng-model='newReservation.notes' type="text" placeholder="Notes">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="divider"></div>
  <div class="divider"></div>
  <ui-view></ui-view>
</body>

</html>
