body {
  background-image: url(https://images.unsplash.com/photo-1445364502257-00c4ddb9b18d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=7a7af0c7c88078e47b6c6b532311a3a5);
  background-size: cover;
}
ul {
  background-color: white;
}
input {
  color: rgba(121, 20, 20, 0.9);
  border-bottom: 1px solid rgba(0, 0, 0, 0.86);
}
::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.50);
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  position: relative;
  transform: scale(2);
  -webkit-transform: scale(2);
  left: 50px;
  visibility: visible;
}
nav a {
  color: #fff;
  background-color: #EE6E73;
}
